* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}

.search--form {
  display: flex;
}

.search--input {
  padding: 4px;
  width: 250px;
  text-indent: 5px;
  transition: width .3s ease-in;
  border: none;
}

@media screen and (max-width: 480px) {
  .search h1 {
    font-size: 0.7rem
  }
  .search--input {
    width: 150px;
  }
}

.searchbtn {
  padding: 4px;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  position: relative;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-inline: auto;
  padding-bottom: 3em;
  width: 80%;
}

.btn {
  padding: 7px;
  background-color: #1a1a1a;
  color: azure;
  border: 1px solid azure;
  cursor: pointer;
}



.btn:hover {
  background-color: #414141;
  
}

.hero--title {
  display: flex;
  align-items: center;
}

.small {
  align-self: center;
  padding-top: 5px;
}


.hero--title__head {
  font-size: 2.3rem;
  font-weight: 800;
  margin-block: .8em;
  margin-right: 2em;
}

.hero--text {
  text-align: left;
}

.close {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 10px;
}

.movie--container {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
  gap: 3em 3em; 
  padding: 1em 2em;
  color: #a1a1a1;
}

.movie--card {
  display: flex;
  flex-direction: column;
  padding-bottom:1em;
  border-radius: 10px;
  height: 520px;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.movie--card:hover {
  transform: scale(1.03);
  background-color: rgb(14, 58, 43);
}

.img--container {
  max-height: 400px;
}

.movie--image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.movie--title {
  text-align: center;
  padding: 5px;
  color: white;
  padding-top: 15px;
  font-size: 1.3rem;
}

.movie--genre {
  text-align: center;
  font-size: .9em;

}

.page--navi {
  grid-column: 1/-1;
  bottom: 20px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.next, .previous {
  cursor: pointer;
}

.youtube_player {
  position: absolute;
  inset: 0;
}



